html
{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: powderblue;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

td, th
{
    text-align: left;
    padding: 8px;
}

tr :nth-child(even)
{
    background-color: #dddddd;
}

tr :nth-child(odd)
{
    background-color: #eeeeee;
}

canvas 
{
    display: block; /* Ensures canvas behaves like a block element */
    margin: 0 auto; /* Centers the canvas horizontally */
    background-color: white;
}